{% extends "base.html" %}

{% block title %}AugmentAI - About{% endblock %}

{% block content %}
<div class="container">
    <h1>About AugmentAI</h1>
    <p><strong>AugmentAI</strong> is a project designed to provide advanced data augmentation and synthetic image generation using Generative AI models such as GANs. Developed for the <a href="{{ url_for('hackathon_page') }}">HackAI - Dell and NVIDIA Challenge</a>, the project demonstrates the integration of NVIDIA AI Workbench for efficient model training and deployment.</p>

    <h2>About the Creator</h2>
    <p>Hello, I'm Alan, the creator of AugmentAI. I am a full-stack software developer with a background in problem-solving and a passion for innovation. With a proven track record of collaborating with teams and managing complex projects, I bring an analytical and organized approach to every task.</p>

    <p>If you'd like to learn more about my work or connect with me, feel free to explore the following:</p>

    <ul class="about-links">
        <li>Check out my <a href="https://www.alannhvn.com/" target="_blank">Portfolio</a></li>
        <li>Connect with me on <a href="https://www.linkedin.com/in/alannhans" target="_blank">LinkedIn</a></li>
        <li>Explore my projects on <a href="https://github.com/nhvn" target="_blank">GitHub</a></li>
    </ul>
</div>

{% endblock %}
