<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}AugmentedAI{% endblock %}</title>
    <link rel="icon" href="/projects/data-aug/applications/AugmentAI/static/images/aug-logo.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/projects/data-aug/applications/AugmentAI/static/styles.css">
</head>
<body>
    <nav>
        <div class="nav-container">
            <a href="/projects/data-aug/applications/AugmentAI/" class="logo">
                <img src="/projects/data-aug/applications/AugmentAI/static/images/logoWord.png" alt="AugmentedAI Logo">
            </a>
            <ul class="nav-links">
                <li><a href="/projects/data-aug/applications/AugmentAI/">Home</a></li>
                <!-- <li><a href="/projects/data-aug/applications/AugmentAI/about">About</a></li> -->
                <!-- <li><a href="/projects/data-aug/applications/AugmentAI/hackathon">Hackathon</a></li> -->
                <li><a href="/projects/data-aug/applications/AugmentAI/upload">Augment</a></li>
            </ul>
        </div>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    <script src="/projects/data-aug/applications/AugmentAI/static/js/script.js"></script>
</body>
</html>